QMainWindow,
QWidget {
    background-color: #f9fbfc;
    border: 0;
    font-family: Roboto, sans-serif;
    color: #021124;
}

/* OVERLAY WINDOW */
#overlayTitle {
    font-size: 20px;
}

#primaryButton {
    color: #FFFFFF;
    background: #0f4a7a;
    font-size: 11px;
    font-weight: 400;
    padding: 6 8 6 8;
    border: 1px solid;
    border-color: #d1dceb;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 0 0 0;
}

#secondaryButton {
    color: #0f4a7a;
    background: #FFFFFF;
    font-size: 11px;
    font-weight: 400;
    padding: 6 8 6 8;
    border: 1px solid;
    border-color: #0f4a7a;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 0 0 0;
}

#overlayFieldName {
    font-weight: 600;
    font-size: 11px;
    margin: 0 0 0 10;
}
#overlayLineEdit {
    border: 1px solid;
    border-color: #a5aebb;
    border-radius: 3px;
}

/* PROJECT BROWSER */
SHPMProjectBrowserFilter,
SHPMProjectBrowserFilter QWidget{
    background-color: #e6f0f8;
}

SHPMTopBar QLineEdit {
    background: #FFFFFF;
    background-image: url("icons/search.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 2 2 2 20;
    border: 1px solid #d1dceb;
    border-radius: 3px;
}

SHPMTopBar QPushButton {
    color: #FFFFFF;
    background: #0f4a7a;
    font-size: 12px;
    font-weight: 400;
    padding: 6 8 6 27;
    border: 1px solid;
    border-color: #d1dceb;
    border-radius: 3px;
    background-image: url("icons/plus_white.png");
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 0 0 20;
}
SHPMTopBar QPushButton:hover {
    background-color: #2874b2;
    border-color: #2874b2;
}
SHPMTopBar QPushButton:pressed {
    background-color: #143b5a;
    border-color: #143b5a;
}

QLabel#textLight {
    color: #a5aebb;
}
QLabel#textBold {
    color: #a5aebb;
    font-weight: bold;
}

ClickableLabel {
    color: #0000FF;
    text-decoration: none;
    font-size: 12px;
}

QLabel#filterTitle {
    font-size: 12px;
    font-weight: bold;
}

ComboBoxCompleter:editable,
ComboBoxCompleter {
    border: 1px solid #d1dceb;
    background-color: #FFFFFF;
}

QComboBox::drop-down {
    border: 0px;
}
QComboBox::down-arrow {
    image: url('./icons/down-arrow-18x12.png');
    width: 15px;
    height: 12px;
    margin: 3px 3px 0px 3px;
}

QListView,
ComboBoxCompleter {
    color: #7d8a9e;
}

QAbstractItemView{
    background: #FFFFFF;
    background-color: #FFFFFF;
}

ComboBoxCompleter QAbstractItemView {
    background: #ffffff;
    selection-color: #a5aebb;
    selection-background-color: #0f4a7a;
}
QCheckBox::indicator {
    background-color: #f9fbfc;
    color: #333333;
    border: 1px solid #d1dceb;
    border-radius: 2px;
    width: 13px;
    height: 13px;
}
QCheckBox::indicator:checked {
    background-color: #0f4a7a;
    border: 1px solid #0f4a7a;
    image: url('./icons/check.png');
}
QCheckBox::disabled {
    color: #a5aebb;
}

QScrollBar::handle {
    background: #f3f6f9;
    border: 1px solid #d1dceb;
    border-radius: 7px;
    min-width: 15px;
}
QScrollBar::handle::hover {
    background: #b6c3d4;
}
QScrollBar::handle::pressed {
    background: #848e9c;
}
QScrollBar::sub-line:vertical {
    background: #d1dceb;
    border: 0px solid #d1dceb;
}
QScrollBar::sub-page:vertical.
QScrollBar::add-page:vertical {
    background: none;
}
QScrollBar::sub-page:vertical.
QScrollBar::add-page:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0 #0000FF, stop: 0.5 #00FF00, stop:1 #FF0000);
}
